/*@media print{
	body {
	    -webkit-print-color-adjust: exact !important;
	    print-color-adjust: exact !important;
	    background-color: green;
	}
}*/


.bg {
    -webkit-print-color-adjust: exact; /* 这一行必须要 */
    print-color-adjust: exact;
    background-color: green;
}

@page {
	size: landscape;
}
